@using Transivo.Model.Models
@using Transivo.UI.MVC.Models
@model IndexViewModel

@{
    List<Country> countries = ViewBag.Countries;
    List<Country> countriesArrive = ViewBag.CountriesArrive;
}

<!--== SlideshowBg Area Start ==-->
<section id="slideslow-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="slideshowcontent">
                    <div class="display-table">
                        <div class="display-table-cell">
                            <br />
                            <br />
                            <h1>Hadi Durma Kargola...</h1>
                            <form method="post" action="/Shipping/Shipping">
                                <div class="book-ur-car" style="height:20%">
                                    <p>Başlangıç Noktası Bilgileri</p>
                                    <div class="pick-location bookinput-item" style="margin-left:100px">
                                        <select class="custom-select" name="StartCountryID" id="StartCountry">
                                            <option>Ülke</option>
                                            @if (countries != null)
                                            {
                                                for (int i = 0; i < countries.Count; i++)
                                                {
                                                    <option value="@countries[i].ID">@countries[i].Name</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="pick-location bookinput-item">
                                        <select class="custom-select" name="StartCityID" id="StartCity">
                                            <option>İl</option>
                                        </select>
                                    </div>
                                    <div class="car-choose bookinput-item">
                                        <select class="custom-select" name="StartDistrictID" id="StartDistrict">
                                            <option>İlçe</option>
                                        </select>
                                    </div>
                                    <div class="retern-date bookinput-item">
                                        <input id="endDate2" name="transportDate" placeholder="Taşıma Tarihi" />
                                    </div>
                                </div>
                                <div class="book-ur-car">
                                    <p>Varış Noktası Bilgileri</p>
                                    <div class="pick-location bookinput-item" style="margin-left:100px">
                                        <select class="custom-select" name="CountriesID" id="arriveCountry">
                                            <option>Ülke</option>
                                            @if (countriesArrive != null)
                                            {
                                                for (int i = 0; i < countriesArrive.Count; i++)
                                                {
                                                    <option value="@countriesArrive[i].ID">@countriesArrive[i].Name</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="pick-location bookinput-item">
                                        <select class="custom-select" name="CitysID" id="arriveCity">
                                            <option>İl</option>
                                        </select>
                                    </div>
                                    <div class="car-choose bookinput-item">
                                        <select class="custom-select" name="ArriveDistrictID" id="ArriveDistrict">
                                            <option>İlçe</option>
                                        </select>
                                    </div>
                                    <div>
                                        <div class="car-choose bookinput-item">
                                            <input type="text" name="km" placeholder="Km GİRİNİZ" />
                                        </div>
                                        <button type="submit" id="btnSearch" class="btn btn-primary">Fİrma Ara</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--== SlideshowBg Area End ==-->
<!--== Fun Fact Area Start ==-->
<section id="funfact-area" class="overlay section-padding" style="background-image:url(../../assets/img/funfact-bg.jpg)">
    <div class="container" >
        <div class="row"  >
            <div class="col-lg-11 col-md-12 m-auto" >
                <div class="funfact-content-wrap">
                    <div class="row">
                        <!-- Single FunFact Start -->
                        <div class="col-lg-4 col-md-6">
                            <div class="single-funfact">
                                <div class="funfact-icon">
                                    <i class="fa fa-smile-o"></i>
                                </div>
                                <div class="funfact-content">
                                    <p><span class="counter">@ViewBag.Users</span></p>
                                    <h4>MUTLU KULLANICI</h4>
                                </div>
                            </div>
                        </div>
                        <!-- Single FunFact End -->
                        <!-- Single FunFact Start -->
                        <div class="col-lg-4 col-md-6">
                            <div class="single-funfact">
                                <div class="funfact-icon">
                                    <i class="fa fa-truck"></i>
                                </div>
                                <div class="funfact-content">
                                    <p><span class="counter">@ViewBag.Vehicles</span></p>
                                    <h4>NAKLİYE ARACI</h4>
                                </div>
                            </div>
                        </div>
                        <!-- Single FunFact End -->
                        <!-- Single FunFact Start -->
                        <div class="col-lg-4 col-md-6">
                            <div class="single-funfact">
                                <div class="funfact-icon">
                                    <i class="fa fa-bank"></i>
                                </div>
                                <div class="funfact-content">
                                    <p><span class="counter">@ViewBag.Companies</span></p>
                                    <h4>NAKLİYE FİRMASI</h4>
                                </div>
                            </div>
                        </div>
                        <!-- Single FunFact End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--== Fun Fact Area End ==-->
@section scripts{
    <script type="text/javascript">

        $("#StartCountry").change(function () {
            var countryID = $("#StartCountry").val();
            $("#StartCity").empty();
            $("#StartDistrict").empty();
            $("#StartCity").append('<option>İl</option>');
            $("#StartDistrict").append('<option>İlçe</option>');

            $.ajax({
                url: "/Location/GetCitiesByCountry/" + countryID,
                type: "POST",
                data: { "id": countryID },
                dataType: "json",
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                success: function (resp) {
                    if (resp != null) {
                        $("#StartCity").empty();
                        $("#StartCity").append('<option>İl</option>');
                        $.each(resp, function (key, value) {
                            $("#StartCity").append('<option value=' + value.Value + '>' + value.Text + '</option>');
                        });
                    } else {
                        alert("veri gelmedi");
                    }
                },
                error: function (err) {
                    alert("Bir Hata Oluştu!");
                    console.log(err);
                }
            });
        });

        $("#StartCity").change(function () {
            var cityID = $("#StartCity").val();
            $("#StartDistrict").append('<option>İlçe</option>');
            $("#StartDistrict").empty();

            $.ajax({
                url: "/Location/GetDistrictByCity/" + cityID,
                type: "POST",
                data: { "id": cityID },
                dataType: "json",
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                success: function (resp) {
                    if (resp != null) {
                        $("#StartDistrict").empty();
                        $("#StartDistrict").append('<option>İlçe</option>');
                        $.each(resp, function (key, value) {
                            $("#StartDistrict").append('<option value=' + value.Value + '>' + value.Text + '</option>');
                        });
                    } else {
                        alert("veri gelmedi");
                    }
                },
                error: function (err) {
                    alert("Bir Hata Oluştu!");
                    console.log(err);
                }
            });
        });
        /////////////////////////////////////////////////////////////////////////////////////////
        $("#arriveCountry").change(function () {
            var countryID = $("#arriveCountry").val();
            $("#arriveCity").empty();
            $("#arriveDistrict").empty();
            $("#arriveCity").append('<option>İl</option>');
            $("#arriveDistrict").append('<option>İlçe</option>');

            $.ajax({
                url: "/Location/GetCitiesByCountry/" + countryID,
                type: "POST",
                data: { "id": countryID },
                dataType: "json",
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                success: function (resp) {
                    if (resp != null) {
                        $("#arriveCity").empty();
                        $("#arriveCity").append('<option>İl</option>');
                        $.each(resp, function (key, value) {
                            $("#arriveCity").append('<option value=' + value.Value + '>' + value.Text + '</option>');
                        });
                    } else {
                        alert("veri gelmedi");
                    }
                },
                error: function (err) {
                    alert("Bir Hata Oluştu!");
                    console.log(err);
                }
            });
        });

        $("#arriveCity").change(function () {
            var cityID = $("#arriveCity").val();
            $("#ArriveDistrict").append('<option>İlçe</option>');
            $("#ArriveDistrict").empty();

            $.ajax({
                url: "/Location/GetDistrictByCity/" + cityID,
                type: "POST",
                data: { "id": cityID },
                dataType: "json",
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                success: function (resp) {
                    if (resp != null) {
                        $("#ArriveDistrict").empty();
                        $("#ArriveDistrict").append('<option>İlçe</option>');
                        $.each(resp, function (key, value) {
                            $("#ArriveDistrict").append('<option value=' + value.Value + '>' + value.Text + '</option>');
                        });
                    } else {
                        alert("veri gelmedi");
                    }
                },
                error: function (err) {
                    alert("Bir Hata Oluştu!");
                    console.log(err);
                }
            });
        });
    </script>
}