

<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--=== Favicon ===-->
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />

    <title>Transivo</title>

    <!--=== Bootstrap CSS ===-->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet">
    <!--=== Vegas Min CSS ===-->
    <link href="~/assets/css/plugins/vegas.min.css" rel="stylesheet">
    <!--=== Slicknav CSS ===-->
    <link href="~/assets/css/plugins/slicknav.min.css" rel="stylesheet">
    <!--=== Magnific Popup CSS ===-->
    <link href="~/assets/css/plugins/magnific-popup.css" rel="stylesheet">
    <!--=== Owl Carousel CSS ===-->
    <link href="~/assets/css/plugins/owl.carousel.min.css" rel="stylesheet">
    <!--=== Gijgo CSS ===-->
    <link href="~/assets/css/plugins/gijgo.css" rel="stylesheet">
    <!--=== FontAwesome CSS ===-->
    <link href="~/assets/css/font-awesome.css" rel="stylesheet">
    <!--=== Theme Reset CSS ===-->
    <link href="~/assets/css/reset.css" rel="stylesheet">
    <!--=== Main Style CSS ===-->
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <!--=== Responsive CSS ===-->
    <link href="~/assets/css/responsive.css" rel="stylesheet">


    <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="loader-active">

    <!--== Preloader Area Start ==-->
    <div class="preloader">
        <div class="preloader-spinner">
            <div class="loader-content">
                <img src="~/assets/img/preloader.gif" alt="JSOFT">
            </div>
        </div>
    </div>
    <!--== Preloader Area End ==-->
    <!--== Header Area Start ==-->
    <header id="header-area" class="fixed-top">
        <!--== Header Top Start ==-->
        <div id="header-top" class="d-none d-xl-block">
            <div class="container">
                <div class="row">
                    <!--== Single HeaderTop Start ==-->
                    <div class="col-lg-3 text-left">
                        <i class="fa fa-map-marker"></i> Bakırköy/ İstanbul
                    </div>
                    <!--== Single HeaderTop End ==-->
                    <!--== Single HeaderTop Start ==-->
                    <div class="col-lg-3 text-center">
                        <i class="fa fa-mobile"></i> 444 1 444
                    </div>
                    <!--== Single HeaderTop End ==-->
                    <!--== Single HeaderTop Start ==-->
                    <div class="col-lg-3 text-center">
                        <i class="fa fa-clock-o"></i> Pzt-Cum 09.00 - 17.00
                    </div>
                    <!--== Single HeaderTop End ==-->
                    <!--== Social Icons Start ==-->
                    <div class="col-lg-3 text-right">
                        <div class="header-social-icons">
                            @*<a href="#">
                                    @if (Session["user"] != null)
                                    {
                                        <span>
                                            @{
                                                User user = Session["user"] as User;
                                                <span>@user.FirstName</span>
                                                <span>@user.LastName</span>
                                            }
                                        </span>
                                    }
                                    else if (Session["admin"] != null)
                                    {
                                        Admin admin = Session["admin"] as Admin;
                                        <span>@admin.Company</span>
                                        <span></span>
                                    }

                                </a>*@
                            @*<a href="#"><i class="fa fa-pinterest"></i></a>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>*@
                        </div>
                    </div>
                    <!--== Social Icons End ==-->
                </div>
            </div>
        </div>
        <!--== Header Top End ==-->
        <!--== Header Bottom Start ==-->
        <div id="header-bottom">
            <div class="container">
                <div class="row">
                    <!--== Logo Start ==-->
                    <div class="col-lg-4">
                        <a href="http://localhost:50137/" class="logo">
                            <img src="~/assets/img/cücük.png">
                        </a>
                    </div>
                    <!--== Logo End ==-->
                    @if (Session["user"] != null)
                    {
                        @Html.Partial("_UserView");
                    }
                    else
                    {
                        @Html.Partial("denemeMenu");
                    }

                </div>
            </div>
        </div>
        <!--== Header Bottom End ==-->
    </header>
    @RenderBody()




    <!--== Footer Area Start ==-->
    <div class="container col-md-2"><img src="~/assets/img/cücük.png"></div>
    <section id="footer-area">

        <!-- Footer Widget Start -->
        <div class="footer-widget-area">

            <div class="container">

                <div class="row">
                    <!-- Single Footer Widget Start -->
                    <div class="col-lg-6 col-md-6">
                        <div class="single-footer-widget">
                            <div class="widget-body">
                                <ul>
                                    <li>
                                        <a href="/Home/SSS">
                                            Sıkça Sorulan Sorular
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-footer-widget">
                            <h2>BİZE ULAŞIN</h2>
                            <div class="widget-body">

                                <ul class="get-touch">
                                    <li><i class="fa fa-map-marker"></i> Bakırköy/İSTANBUL </li>
                                    <li><i class="fa fa-mobile"></i> 444 1 444</li>
                                    <li><i class="fa fa-envelope"></i> info@transivo.com</li>
                                </ul>
                                <a href="https://goo.gl/maps/kkLXUM6cwjEanofE9" class="map-show" target="_blank">Yol Tarifi için Tıklayınız</a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Footer Widget End -->
                </div>
            </div>
        </div>
        <!-- Footer Widget End -->
        <!-- Footer Bottom Start -->
        <div class="footer-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> Tüm Hakları Saklıdır <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="http://localhost:50137/" target="_blank">Transivo Company</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Bottom End -->
    </section>
    <!--== Footer Area End ==-->
    <!--== Scroll Top Area Start ==-->
    <div class="scroll-top">
        <img src="~/assets/img/scroll-top.png" alt="JSOFT">
    </div>
    <!--== Scroll Top Area End ==-->

    <script src="~/assets/js/jquery-3.2.1.min.js"></script>
    <!--=== Jquery Migrate Min Js ===-->
    <script src="~/assets/js/jquery-migrate.min.js"></script>
    <!--=== Popper Min Js ===-->
    <script src="~/assets/js/popper.min.js"></script>
    <!--=== Bootstrap Min Js ===-->
    <script src="~/assets/js/bootstrap.min.js"></script>
    <!--=== Gijgo Min Js ===-->
    <script src="~/assets/js/plugins/gijgo.js"></script>
    <!--=== Vegas Min Js ===-->
    <script src="~/assets/js/plugins/vegas.min.js"></script>
    <!--=== Isotope Min Js ===-->
    <script src="~/assets/js/plugins/isotope.min.js"></script>
    <!--=== Owl Caousel Min Js ===-->
    <script src="~/assets/js/plugins/owl.carousel.min.js"></script>
    <!--=== Waypoint Min Js ===-->
    <script src="~/assets/js/plugins/waypoints.min.js"></script>
    <!--=== CounTotop Min Js ===-->
    <script src="~/assets/js/plugins/counterup.min.js"></script>
    <!--=== YtPlayer Min Js ===-->
    <script src="~/assets/js/plugins/mb.YTPlayer.js"></script>
    <!--=== Magnific Popup Min Js ===-->
    <script src="~/assets/js/plugins/magnific-popup.min.js"></script>
    <!--=== Slicknav Min Js ===-->
    <script src="~/assets/js/plugins/slicknav.min.js"></script>
    <!--=== Mian Js ===-->
    <script src="~/assets/js/main.js"></script>
    <!--== Header Area End ==-->

    @RenderSection("scripts", false)
</body>
</html>